body {
	font-family: 'Poppins', sans-serif;
}

.mt-50 {
	margin-top: 50px;
}

a:focus,
button:focus {
	border: 2px solid transparent !important;
}

.side-nav .compacted .top-nav {
	padding-left: 48px !important;
}

.side-nav .compacted .suggest-box input {
	display: none !important;
}

.side-nav .compacted .suggest-box button {
	margin-bottom: 0px;
}

.side-nav .compacted .suggest-box .holder {
	height: 48px;
	line-height: 48px;
}

.navview .navview-pane {
	background: #0277BD;
}

.navview .navview-pane button span,
.side-nav .compacted .suggest-box .holder span {
	font-size: 20px;
}

.navview .sidebar-nav {
	border-right: 1px solid transparent;
	height: 100%;
}

.navview .suggest-box {
	height: 48px;
	background: rgba(0, 0, 0, 0.02);
	box-shadow: 0px 1px 26px rgba(0, 0, 0, 0.09);
	z-index: 9999;
}

.navview .suggest-box input,
.navview .suggest-box input::placeholder {
	height: 48px;
	background-color: transparent;
	outline: none;
	border: none;
	box-shadow: none;
	color: #edf4f7;
	font-weight: 500;
}

.navview .suggest-box input::placeholder {
	text-transform: uppercase;
}

.navview .suggest-box input:hover,
.navview .suggest-box input:focus {
	outline: none;
	border: none;
	box-shadow: none;
}

.side-nav .navview .sidebar-nav .data-list {
	list-style: none;
	margin-left: 0;
	overflow-y: auto;
	height: calc(100vh - 48px);
}

.data-list::-webkit-scrollbar,
.navview-content .content::-webkit-scrollbar {
	transition: 0.5s all;
	width: 0px;
}

.data-list:hover::-webkit-scrollbar,
.content:hover::-webkit-scrollbar {
	transition: 0.5s all;
	width: 10px;
}

/* Track */
.data-list:hover::-webkit-scrollbar-track,
.content:hover::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 44px;
	border-radius: 44px;
}

/* Handle */
.data-list:hover::-webkit-scrollbar-thumb,
.content:hover::-webkit-scrollbar-thumb {
	-webkit-border-radius: 44px;
	border-radius: 44px;
	background: rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);
}

.data-list:hover::-webkit-scrollbar-thumb:window-inactive,
.content:hover::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0, 0, 0, 0.2);
}

.side-nav .navview .sidebar-nav .data-list li a.active,
.side-nav .navview .sidebar-nav .data-list li a:focus,
.side-nav .navview .sidebar-nav .data-list li a:hover {
	background: rgba(255, 255, 255, 0.09);
}

.side-nav .navview .sidebar-nav .data-list li a {
	color: #e1eefd;
	line-height: 30px;
	text-decoration: none;
	display: inherit;
	padding: 8px 16px;
	font-weight: 600;
	outline: none;
	cursor: pointer;
}

.side-nav .navview .sidebar-nav .data-list li a:hover {
	text-decoration: none;
	cursor: pointer;
}

.navview-content .top-nav {
	width: 100%;
	top: 0;
	background: rgba(0, 0, 0, 0.02);
	box-shadow: 0px 1px 26px rgba(0, 0, 0, 0.09);
	height: 48px;
	min-height: 48px;
	padding-left: 280px;
	right: 0;
}

.navview-content .top-nav .h-menu .toggle-menu button {
	line-height: 48px;
	height: 48px;
	background-color: unset;
	font-size: 20px;
	margin-bottom: 0px;
}

.navview-content .top-nav .h-menu .toggle-menu button.cog-button {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 48px;
	height: 48px;
	background-color: transparent;
	border: 2px solid transparent;
	outline: none;
	cursor: pointer;
}

.navview-content .top-nav .h-menu .toggle-menu button span {
	font-size: 20px;
	color: #878788;
}

.navview-content .top-nav .h-menu {
	background: none;
}

.navview-content .top-nav .h-menu>li {
	line-height: 32px;
}

.navview-content .content {
	overflow-y: auto;
	height: calc(100vh - 48px);
	margin-top: 48px;
}

.navview-content .content .word-style {
	border-bottom: 2px solid #393939;
	line-height: 45px;
	padding-bottom: 10px;
}

@media screen and (max-width:576px) {
	.navview .navview-pane .sidebar-nav .navview-menu .home-fs {
		line-height: 48px;
		height: 48px;
	}
}